---
import RepoLanguages from "@components/projects/RepoLanguages.astro"
import { Image } from '@astrojs/image/components'
const { repository } = Astro.props
const { name, description, url, languages, homepageUrl } = repository
const image = `/assets/img/${name}.png`
---

<div class='repo-details-wrapper font-roboto'>
	<article class='repo-card h-full flex flex-col leading-10 rounded overflow-hidden shadow-lg bg-white p-4'>
		<div class='grid grid-rows-auto'>
			<div class='flex flex-col items-center bg-white text-center rounded'>
				<Image
					src={image}
					format="webp"
					height={100}
					width={200}
					alt={name}
					class:list='w-full rounded-md border-zinc-700 border-2'
				/>
			</div>
			<div class='my-5 text-center'>
				<span class='text-lg text-zinc-500 font-bold capitalize'>
					{name.replaceAll('-', ' ')}
				</span>
			</div>
			<div class='flex justify-center gap-10'>
				<a
					href=`${homepageUrl}`
					target='_blank'
					rel='noreferer noopener'
					class='bg-sky-700 rounded-md px-8 text-white border-2 border-zinc-700 hover:scale-110 hover:animate-bigger'
				>
					Demo
				</a>
				<a
					href=`${url}`
					target='_blank'
					rel='noreferer noopener'
					class='bg-sky-700 rounded-md px-8 text-white border-2 border-zinc-700 hover:scale-110 hover:animate-bigger'
				>
					Code
				</a>
			</div>
		</div>
	</article>
</div>
